<div class="footer">
    <p class="pull-left">&copy; 2015 - B.A.Y. Flag Football</p>
    <p class="pull-right">by: <a href="http://www.hoodooinc.com" target="blank"><img src="http://www.hoodooinc.com/marketing/sm-logo.png" alt="Hoodoo Inc." height="18px"/></a></p>
</div>
