<nav class="navbar navbar-default" ID="top-nav" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/assets/images/BAY.svg" class="pull-left">
        <h2 class="pull-right">BAY AREA YOUTH<br/><span>FLAG FOOTBALL</span></h2>
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <div class="row text-right">
      </div>
      <div class="row">
        <ul class="nav navbar-nav navbar-right">
          <li ui-sref-active="active" >
            <a ng-href="/" ui-sref="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li ui-sref-active="active" ><a href="/about" ui-sref="about">About</a></li>
          <li ui-sref-active="active" ><a href="/registration" ui-sref="registration">Register</a></li>
          <li ui-sref-active="active" ><a href="/sponsors" ui-sref="sponsors">Sponsors</a></li>
          <li ui-sref-active="active" ><a href="/contact" ui-sref="contact">Contact</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
