<div class="container-fluid secondary">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="jumbotron text-left" id="secondary-jumbotron" style="background-image: url({{jumbotron.bgImg}})"></div>

  <div class="row">
    <div class="container-fluid intro">
      <h1 class="academic">{{copy.h1}}</h1>
      <p class="lead"><em>{{copy.lead}}</em></p>
    </div>
  </div>
  <div class="row" ng-repeat="sect in sections">
    <div class="container-fluid">
      <h2>{{sect.hdr}}</h2>
      <p ng-repeat="p in sect.paragraphs">{{p}}</p>
    </div>
  </div>
  <hr>

  <div ng-include="'app/components/footer/footer.html'"></div>

</div>
