<script type="text/javascript" src="https://bitrix24.d-it.ru/forms/js/iframe.js?v2" charset="utf-8"></script><script type="text/javascript">window.onload = function () {window.B24Form.initForms();}</script>

<div class="container-fluid secondary">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="jumbotron text-left" id="secondary-jumbotron" style="background-image: url({{jumbotron.bgImg}})"></div>

<div class="row">
  <div class="container-fluid intro">
    <h1 class="academic">{{copy.h1}}</h1>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="col-md-4">
      <p class="lead">{{copy.lead}}</p>
    </div>
    <div class="col-md-8">


      <form action="/forms/iframe/?hash=feca4b756fb93a8ce2087c2fb67e4de3" enctype="multipart/form-data" method="post" id="bx-form-feca4b756fb93a8ce2087c2fb67e4de3">
        <input type="hidden" name="send" value="Y">
        <input type="hidden" name="ok" value="no">
        <div class="form-group">
          <label for="bx24_name">Name</label>
          <input type="text" class="form-control" id="bx24_name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!-- form output from bitrix for styling -->
      <!--
      <form >
        <input type="hidden" name="send" value="Y">
        <input type="hidden" name="ok" value="no">
          <div class="bx-field">
            <span>Name</span>
            <input type="text" class="bx-input" name="name" id="" value="">
          </div>
          <div class="bx-field">
            <span>E-mail</span>
            <input type="text" class="bx-input" name="email_other" id="bx24_email_other" value="">
          </div>
          <div class="bx-field">
            <span>Phone</span>
            <input type="text" class="bx-input" name="phone_other" id="bx24_phone_other" value="">
          </div>
          <div class="bx-field">
            <span>Website</span>
            <input type="text" class="bx-input" name="web_work" id="bx24_web_work" value="">
          </div>
          <div class="bx-field">
            <span>Message</span>
            <textarea name="comments" id="bx24_comments" class="bx-input"></textarea>
          </div>
          <span class="bx-button" onclick="document.getElementById('bx-form-feca4b756fb93a8ce2087c2fb67e4de3').submit();">Send</span>
          <div style="display: none"><input type="submit"></div>
      </form>
      -->
    </div>
  </div>
</div>
<div id="b24formdiv_feca4b756fb93a8ce2087c2fb67e4de3" class="b24formdiv"></div>

  <hr>

  <div ng-include="'app/components/footer/footer.html'"></div>

</div>

