<div class="container-fluid">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="jumbotron text-left" id="home-jumbotron" style="background-image: url({{jumbotron.bgImg}})">
    <div class="caption">
      <h1 class="academic">{{jumbotron.h1}}</h1>
      <p class="lead">{{jumbotron.lead}}</p>
      <p>{{jumbotron.txt}}</p>
      <p>
        <a class="btn btn-lg btn-danger" <a href="/{{jumbotron.btnLink}}" ui-sref="{{jumbotron.btnLink}}">{{jumbotron.btnTxt}}</a></p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 featured-item" ng-repeat="block in featureBlocks" style="background-image: url({{block.bgImg}})">
        <a href="/{{block.url}}" ui-sref="{{block.url}}">
          <div class="featured-item-container" >
            <div class="featured-item-content">
                <div class="featured-item-vertical">
                  <h2>{{block.cap}}</h2>
                  <h3>{{block.subCap}}</h3>
                </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div ng-include="'app/components/footer/footer.html'"></div>

</div>
