/***** variables *****/

$red: rgba(176,30,52, 0.8);
$input-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(176,30,52, 0.6);

/***** fonts *****/
@font-face {
  font-family: academic;
  src: url(/assets/fonts/Academic.ttf);
}

.academic {
  font-family: academic;
}

/***** globals *****/

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
  color: $red;
  &:hover {
    color: darken( $red, 20% );
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.container .jumbotron, .container-fluid .jumbotron, .navbar {
  border-radius: 0;
}

/***** inputs *****/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $red;
  box-shadow: $input-shadow;
  outline: 0 none;
}

.btn {
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0;
}


/***** NAVIGATION *****/

#top-nav { height: 100px;}

  .navbar {
    border: none;
    .navbar-brand {
      padding: 3px 15px;
      img {
        height: 5em;
      }
      h2 {
        margin-left: 0.5em;
        margin-top: 0.45em;
        color: #333;
        font-family: academic;
        span {
          color: $red;
          letter-spacing: 2px;
        }
      }
    }
    .search {
      input, .input-group-btn button {
        height: 2em;
        margin-top: 5px;
      }
    }

    .navbar-toggle {
      background-color: $red;
      color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 0;
      .icon-bar {
        background-color: #fff;
      }
    }
  }

  .navbar-nav {
    padding-right: 20px;
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 500;
    }
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d43f3a;
}

/* SEARCH BOX IN TOP NAV */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/***** JUMBOTRON *****/
#home-jumbotron {
  background: no-repeat center;
  background-size: cover;
  height: 500px;
  padding-left: 25px;
  padding-right: 25px;
  .caption {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    width: 35%;
    padding: 10px;
    p {
      font-weight: 500;
      font-size: 1em;
    }
    .lead {
      font-weight: 400;
      font-size: 1.5em;
    }
    h1 {
      font-size: 3em;
      margin-top: 10px;
      color: #fff;
    }
  }
}

#secondary-jumbotron {
  background: center;
  background-size: cover;
  height: 320px;
}

/***** HOME FEATURED ITEMS *****/
.featured-item {
  margin:0;
  padding:0;
  background-size:cover;
  border:5px solid #fff;
  &:first-child {
    background-color:aquamarine;
    border-left: none;
  }
  &:nth-child(2) {
    background-color:bisque;
    border-left:none;
    border-right:none;
  }
  &:last-child {
    background-color:darkcyan;
    border-right: none;
  }

  .featured-item-container {
    display: table;
    height:240px;
    width:100%;
    text-align: center;
    color: #000;
    .featured-item-content {
      display: table-cell;
      vertical-align: middle;
      .featured-item-vertical {
        background: rgba(255,255,255,0.5);
      }
    }
    &:hover {
      background-color:rgba(0, 0, 0, 0.25);
      color:aliceblue;
      transition:all 0.2s ease-in-out;
      .featured-item-vertical {
        background: rgba(0,0,0,0.5);
      }
    }
  }
}

/***** SECONDARY PAGES *****/
.secondary {
  .intro {
    h1 {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
    .lead {
      padding: 20px 100px;
    }
  }
}


/***** MEDIA QUERIES *****/

@media screen and (max-width: 767px){

  .navbar {
    .navbar-brand {
      padding: 3px 5px;
      h2 {
        margin-left: 0.125em;
        font-size: 1.25em;
      }
    }
    .navbar-collapse {
      margin-top: 35px;
    }
    .navbar-nav {
      background-color: #fff;
      padding-right: 0;
      padding-bottom: 10px;
      > li > a {
        padding-left: 25px;
        font-weight: 500;
      }
    }
  }

  #home-jumbotron {
    .caption {
      width: 100%;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .featured-item {
    margin: 5px 0;
    border: none;
  }
}

@media screen and (max-width: 480px){

  #top-nav { height: 80px;}

  .navbar {
    .navbar-brand {
      padding: 3px 5px;
      img {
        height: 3.75em;
      }
      h2 {
        margin-left: 0.125em;
        font-size: 1.25em;
      }
    }
  }

  .caption {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .secondary {
    .intro {
      .lead {
        padding: 10px 0;
      }
    }
  }
}



// injector
// endinjector


